.pl-20 {
  padding-left: 0;
  padding-right: 20px;
}
.pr-20 {
  padding-left: 20px;
  padding-right: 0;
}
.form-control {
  text-align: right;
}
.nice-select {
  text-align: right !important;
}
.default-button i {
  margin-left: 0;
  margin-right: 5px;
}
.slider-area-nav .owl-nav .owl-next {
  float: left;
}
.topbar-left-side ul li {
  margin-left: 10px;
  margin-right: 0;
}
.topbar-left-side ul li i {
  margin-left: 3px;
  margin-right: 0;
}
.main-nav nav .navbar-nav .nav-item a.dropdown-toggle {
  padding-left: 17px;
  padding-right: 0;
}
.main-nav nav .navbar-nav .nav-item a.dropdown-toggle i {
  left: 0;
  right: unset;
}
.main-nav nav .navbar-nav .nav-item a.dropdown-toggle::after {
  left: 0;
  right: unset;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  left: unset;
  right: 0;
  text-align: right;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  padding-right: 25px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a::before {
  content: '\f0d9';
  left: unset;
  right: 10px;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a i {
  left: unset !important;
  right: 10px !important;
  top: 45%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  right: 101%;
  left: unset;
}
.main-banner-single-slider::before {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#000000fa),
    color-stop(#00000069),
    to(#00000000)
  );
  background-image: linear-gradient(to left, #000000fa, #00000069, #00000000);
}
.banner-text-area .banner-buttons ul li {
  margin-left: 10px;
  margin-right: 0;
}
.features-card {
  padding-left: 30px;
  padding-right: 105px;
}
.features-card i {
  left: unset;
  right: 30px;
}
.about-intro img {
  margin-left: 15px;
  margin-right: 0;
}
.why-we-list ul li i {
  margin-left: 5px;
  margin-right: 0;
}
.portfolio-card .portfolio-card-text-area {
  left: unset;
  right: 0;
  -webkit-transform-origin: right;
  transform-origin: right;
  border-radius: 10px 0 10px 0;
  padding-right: 25px;
  padding-left: 25px;
}
.portfolio-card .portfolio-card-text-area a i {
  right: unset;
  left: 0;
}
.testimonial-slider-area .owl-nav .owl-next {
  float: left;
}
.testimonial-card {
  padding-left: 30px;
  padding-right: 100px;
}
.testimonial-card img {
  right: 0;
  left: unset;
}
.testimonial-card::before {
  left: 0;
  right: unset;
}
.blog-card .blog-img-area .blog-img-date {
  right: unset;
  left: 30px;
}
.blog-card .blog-text-area .blog-date ul li {
  margin-left: 15px;
  margin-right: 0;
}
.blog-card .blog-text-area .blog-date ul li::before {
  left: -11px;
  right: unset;
}
.blog-card .blog-text-area .blog-date ul li i {
  margin-left: 3px;
  margin-right: 0;
}
.footer-contact ul li {
  padding-left: 0;
  padding-right: 115px;
}
.footer-contact ul li span {
  left: unset;
  right: 0;
  margin: 0;
}
.go-top {
  left: 10px;
  right: unset;
}
.team-card-2 .team-card-2-img .team-social-icons {
  left: unset;
  right: 30px;
}
.why-we-card-3 {
  padding-left: 0;
  padding-right: 60px;
}
.why-we-card-3 i {
  right: 0;
  left: unset;
}
.testimonial-3 .testimonial-text-area {
  margin-right: auto;
  margin-left: 0;
}
.uni-banner-text-area ul li:last-child::after {
  display: block;
  content: '\f104';
}
.uni-banner-text-area ul li:first-child::after {
  display: none;
}
.pd-info-area ul li {
  padding-left: 0;
  padding-right: 80px;
}
.pd-info-area ul li span:first-child {
  left: unset;
  right: 0;
}
.sidebar-contact ul li i {
  margin-left: 5px;
  margin-right: 0;
}
.sd-list-area ul li i,
.support-list ul li i,
.pricing-card ul li i {
  margin-left: 5px;
  margin-right: 0;
}
.accordion-button {
  text-align: right;
  padding-left: 55px;
  padding-right: 15px;
}
.accordion-button i {
  right: unset;
  left: 15px;
}
.pricing-card span {
  right: unset;
  left: 30px;
}
.terms .payment li {
  padding-left: 0;
  padding-right: 20px;
}
.terms .payment li::before {
  left: unset;
  right: 0;
}
.terms ul li span {
  margin-left: 8px;
  margin-right: 0;
}
.recent-news-card {
  padding-left: 0;
  padding-right: 105px;
}
.recent-news-card img {
  left: unset;
  right: 0;
}
.comment-card {
  padding-left: 0;
  padding-right: 100px;
}
.comment-card img {
  left: unset;
  right: 0;
}
.cml-20 {
  margin-left: 0;
  margin-right: 50px;
}
.bd-form .form-check label {
  margin-right: 25px;
}
.form-check .form-check-input {
  float: right;
}
.login-form form .form-check label {
  margin-right: 25px;
}
.contact-card h4 i {
  margin-left: 5px;
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .pl-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .pr-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-text-area .banner-buttons ul li {
    margin-left: 7px;
  }
  .features-card {
    padding-left: 15px;
    padding-right: 95px;
  }
  .features-card i {
    right: 15px;
  }
  .testimonial-card {
    padding: 15px;
  }
  .why-we-text-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .comment-card {
    padding: 0 15px;
  }
  .cml-20 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pl-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .pr-20 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .mean-container a.meanmenu-reveal {
    left: 0 !important;
    right: auto !important;
  }
  .mobile-nav .logo {
    left: unset;
    right: 0;
  }
  .mean-container .mean-nav ul li a {
    text-align: right;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    width: 95%;
    text-align: left;
  }
  .menu-small-device {
    left: 45px;
    right: unset;
  }
  .small-device-popup {
    right: unset;
    left: 0;
  }
  .small-device-popup .sidebar-popup-content .close-btn {
    left: 20px;
    right: unset;
  }
  .small-device-popup .sidebar-popup-content .sdp-footer-area {
    text-align: right;
  }
}
